[submodule "backend"]
	path = backend
	url = https://github.com/ChamathDilshanC/VibeNet-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/ChamathDilshanC/VibeNet-frontend.git
